CLERK_JWT_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
ALLOWED_ORIGINS="http://localhost:3000,https://www.ez-ielts.com"
CLERK_AUTHORIZED_PARTIES="http://localhost:3000,https://www.ez-ielts.com"
