CLERK_JWT_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
ALLOWED_ORIGINS="http://localhost:3000,https://ez-ielts.nexisci.space"
CLERK_AUTHORIZED_PARTIES="http://localhost:3000,https://ez-ielts.nexisci.space"
